*{margin:  0px; padding: 0px;}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
 
.digi{
    border: solid 1px;
    height: 300px;
    width: 400px;
    border-radius: 50%;
    margin: 100px auto 0px;
    font-size: 50px;
    text-align: center;
}
.digi div{
    margin-top: 30px;
}